
.books {
  font-size: 25px;
  font-weight: 500;
  color: #0a0102;
}
.heading {
  display: flex;
  flex-direction: column;
}
.sort {
  float: right;
  font-size: 12px;
  padding-top: 12px;
}


#form:focus,
input:focus {
  outline: none;
}


/**************/
.box-section-container {
  /* display: flex;
    flex-flow: row nowrap; */
  margin-top: 150px;
  /* padding: 7px; */
}

.bookDes {
  font-size: 10px;
}

.tags p {
  font-family: "Roboto";
  color: #969696;
  font-weight: 400;
  font-size: 10px;
  margin-bottom: 0px;
  font-family: "Roboto", sans-serif;
}

/******************************************/
.box1 {
  border: 1px solid #e2e2e2;
  /* height: 294px; */
  min-height: 295px;
  /* width: 223px; */
  background-color: #ffff;
  border-radius: 2px;
}

.img-box {
  background: #f5f5f5;
  position: relative;
  height: 179px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery-margin h1 {
  font-size: 18px;
}

.img-fluid {
  max-width: 100%;
  height: 139px;
 }
.tags {
  
  padding-top: 12px;
}
.tags h3 {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0px;
  font-family: "Roboto", sans-serif;
}
.price {
  font-size: 12px !important;
  font-weight: 600 !important;
  color: #0a0102 !important;
  font-family: "Roboto", sans-serif;
}

.lastBtn button {
  padding: 3px 13px;
  border-radius: 3px;
}
.lastBtn {
  border-radius: 3px;
  /* padding: 5px; */
  font-size: 15px;

  /* padding-right: 34px; */
  padding-top: 7px;
}

.btn-primary {
  color: #fff;
  background-color: #a30e1d;
  border-color: #bd2130;
}
.btn-secondary {
  color: #fff;
  background-color: #e9ecef;
  border-color: #6c757d61;
}
.btn-sm {
  font-size: 11px;
  line-height: 1.5;
}
.wishTo {
  color: #0a0102;
}

/******logout****/
.order_heading {
  font-size: 25px;
  color: #333232;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}

.buttonSmall {
  font-size: 11px;
  line-height: 1.5;
}
.paddingTop{
  padding-top: 11px;
}
/**********************/

@media only screen and (max-width: 992px) {
  .searchBarIcon {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .cartBtn {
    width: 50%;
  }
}


@media only screen and (max-width: 576px) {
  .img-fluid {
    /* max-width: 225px; */
    height: 174px;
    width: 150px;
  }
  .buttonSmall {
    font-size: 12px;
    line-height: 1.5;
    width: 100%;
}
.tags h3 {
  font-size: 18px;
  
}
.tags p {
 
  color: #969696;
  font-weight: 400;
  font-size: 12px;
  
}
.tags  .price {
  font-size: 15px !important;
 
}
.paddingLeft{
  padding-left: 44px;
}
}
