@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
}
.searchInput {
  width: 600px !important;
  background: #f1f3f4;
  border: none;
}
.icon_flex {
  display: flex;
  align-items: center;
}
.float-direction-left {
  float: left;
}

.float-direction-right {
  float: right;
}
.flexDir {
  flex-direction: row;
}
.headerBlock {
  display: block;
}
.flexBasics {
  flex-basis: inherit;
}
.headerDetails {
  font-size: 20px;
  font-weight: 300;
  color: #ffffff;
}
.footerDetails {
  font-size: 12px;
  font-weight: 300;
  color: #ffffff;
  margin-left: 12px;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.header_nav {
  height: 60px;
  background-color: #a03037;
  border-bottom: 1px solid #d0d0d0;
}

.navbar-toggler-icon {
  background-size: 75% 75%;
}
.navbar-light .navbar-toggler {
  border: none;
}
/**************/
.box-section-container {
  /* display: flex;
    flex-flow: row nowrap; */
  margin-top: 150px;
  /* padding: 7px; */
}

.footer-nav {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #2e1d1e;
  padding: 10px 0px;
}

.bookDes {
  font-size: 10px;
}

p {
  font-family: "Roboto";
  color: #969696;
  font-weight: 400;
  font-size: 10px;
  margin-bottom: 0px;
  font-family: "Roboto", sans-serif;
}

.nav-icons {
  display: flex;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  align-items: center;
  cursor: pointer;
  color: #fff;
}
.nav-icons:hover {
  opacity: 0.87;
  background-color: rgba(205, 216, 230, 0.157);
}
.nav-icons span {
  text-align: center;
  width: 100%;
  font-size: 16px;
}

.section-1 {
  padding: 116px 0px 80px;
}
/* .mainCart{  
       display: flex;
    justify-content: center;
} */
.orderDescription {
  text-align: center;
  font-size: 18px;
  color: #333232;
  font-family: "Lato", sans-serif;
  font-weight: 600;
}
.myCart {
  display: flex;
  justify-content: center;
}
.imgPart2 {
  /* display: flex;

  justify-content: center; */
  text-align: center;
}
/* .orderTable{
 
} */
.tableBody {
  height: 85px;
  border: 1px solid #dcdcdc;
  /* font-family: 'Lato', sans-serif; */
  color: #333232;
}
.tableHeader {
  text-align: center;
  /* font-family: 'Lato', sans-serif; */
  color: #333232;
  background-color: #fafafa !important;
  border: 1px solid #dcdcdc;
}
.header_body {
  text-align: center;
  /* flex-wrap: wrap; */
  /* display: flex; */
  font-size: 12px;
  width: 223px;
  padding: 16px 16px 16px 16px;
  font-size: 12px;
  border: 1px solid #dcdcdc;
}
.header_title {
  font-size: 12px;
}
.headerTags {
  font-size: 12px;
  color: #f8f9fa;
}
.placeOrderBtn {
  display: flex;
  justify-content: center;
  padding: 0px 35px 24px 1px;
  transform: translateY(42px);
}
.btnPo {
  background-color: #3371b5 !important;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  width: 184px;
}
.order_heading {
  font-size: 25px;
  color: #333232;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}
.dropdown-toggle::after {
  display: none;
}
.logoutBtn {
  display: block;
  border: 1px solid red;
  font-size: 13px !important;
}
.dropMenu {
  font-size: 13px !important;
  padding-left: 9px;
}
.navbar-nav .positionChange {
  position: absolute !important;
}

@media only screen and (max-width: 992px) {
  .searchBarIcon {
    display: none;
  }
}
