@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
}
.searchInput {
  width: 600px !important;
  background: #f1f3f4;
  border: none;
}
.icon_flex {
  display: flex;
  align-items: center;
}
.float-direction-left {
  float: left;
}

.float-direction-right {
  float: right;
}
.flexDir {
  flex-direction: row;
}
.headerBlock {
  display: block;
}
.flexBasics {
  flex-basis: inherit;
}
.headerDetails {
  font-size: 20px;
  font-weight: 300;
  color: #ffffff;
}
.footerDetails {
  font-size: 12px;
  font-weight: 300;
  color: #ffffff;
  margin-left: 12px;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.header_nav {
  height: 60px;
  background-color: #a03037;
  border-bottom: 1px solid #d0d0d0;
}
/* .footer_nav{
  height: 50px;
  background-color: #2E1D1E;
  border-bottom: 1px solid #d0d0d0;
} */
.searchBarIcon {
  width: 490px;
  padding-left: 17px;
}
.books {
  font-size: 25px;
  font-weight: 500;
  color: #0a0102;
}
.heading {
  display: flex;
  flex-direction: column;
}
.sort {
  float: right;
  font-size: 12px;
  padding-top: 12px;
}
.headerTags {
  font-size: 12px;
  color: #f8f9fa;

    font-family: "Roboto";
    
    font-weight: 400;
    
    margin-bottom: 0px;
    font-family: "Roboto", sans-serif;
}
.nav-icons {
  display: flex;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  align-items: center;
  cursor: pointer;
  color: #fff;
}
.nav-icons:hover {
  opacity: 0.87;
  background-color: rgba(205, 216, 230, 0.157);
}
.nav-icons span {
  text-align: center;
  width: 100%;
  font-size: 16px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
}

.header-logo {
  height: 4em;
}

.header-title {
  color: #5f6368;
  font-size: 2rem;
  padding-top: 4px;
  padding-left: 4px;
}

.note-icons {
  padding-left: 17px;
  padding-top: 10px;
}
.note-icons .icons_span {
  padding: 0px 10px;
  color: #5f6368;
  font-size: 18px !important;
}
.note-icons .material-icons {
  font-size: 18px !important;
  cursor: pointer;
}
.note-icons .icons_span:first-child {
  padding: 0px !important;
}
.note-icons .icons_span:last-child {
  padding: 0px !important;
}
.modal-backdrop.show {
  opacity: 0.5 !important;
}
/* .navbar-light .navbar-toggler-icon {
  background-image: url(../assets/dashboard-page/person_black_24dp.svg);
} */
.navbar-toggler-icon {
  background-size: 75% 75%;
}
.navbar-light .navbar-toggler {
  border: none;
}
/**************/
.box-section-container {
  /* display: flex;
  flex-flow: row nowrap; */
  margin-top: 150px;
  /* padding: 7px; */
}

.footer-nav {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #2e1d1e;
  padding: 10px 0px;
}

.bookDes {
  font-size: 10px;
}

p {
  font-family: "Roboto";
  color: #969696;
  font-weight: 400;
  font-size: 10px;
  margin-bottom: 0px;
  font-family: "Roboto", sans-serif;
}

/******************************************/
.box1 {
  border: 1px solid #e2e2e2;
  height: 294px;
  /* width: 223px; */
  background-color: #ffff;
  border-radius: 2px;
}

.img-box {
  background: #f5f5f5;
  position: relative;
  height: 179px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery-margin h1 {
  font-size: 18px;
}
/* .imageEdu{
  background: url('../assets/dashboard/education.png') 0% 0% no-repeat padding-box;
} */
.img-fluid {
  max-width: 100%;
  height: 139px;
  /* position: relative;
  top: 20px;
  left: 52px; */
}
.tags {
  padding-left: 17px;
  padding-top: 12px;
}
.tags h3 {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0px;
  font-family: "Roboto", sans-serif;
  line-height: 2.5;
}
.price {
  font-size: 15px;
  font-weight: 600;
  color: #0a0102;
  font-family: "Roboto", sans-serif;
}

.lastBtn button {
  padding: 3px 13px;
  border-radius: 3px;
}
.lastBtn {
  border-radius: 3px;
  /* padding: 5px; */
  font-size: 15px;
  display: flex;
  /* padding-right: 34px; */
  width: 88%;
  padding-top: 7px;
}
.addToBagBtn {
  padding-left: 0px;
}
/* .wishlistBtn{
padding-left: 0px;
} */
.btn-primary {
  color: #fff;
  background-color: #a30e1d;
  border-color: #bd2130;
}
.btn-secondary {
  color: #fff;
  background-color: #e9ecef;
  border-color: #6c757d61;
}
.btn-sm {
  font-size: 11px;
  line-height: 1.5;
}
.btnTag2 {
  color: #0a0102;
}

/**********************/
.section-1 {
  margin-top: 80px;
}
.button5 {
  border-radius: 50%;
  background: #fff;
  /* background-color: #25976d; */
  border: 1px solid #dbdbdb;
  color: white;
  padding: 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 6px 2px;
  color: #2e1d1e;
  width: 24px;
  height: 24px;
  line-height: 0;
  color: #545b62eb;
  cursor: pointer;
  /* font-family: Lato; */
}
.middleBtn {
  border-radius: 2px;
  width: 41px;
  background: #fff;
  /* background-color: #25976d; */
  border: 1px solid #80808066;
  color: white;
  padding: 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 17px 0px;
  color: #454749;
  line-height: 1.4;
  height: 24px;
}
.removeBtn {
  /* border-radius: 2px; */
  width: 45px;
  background: #fff;
  /* background-color: #25976d; */
  border: none;
  color: white;
  padding: 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 16px 2px;
  color: #2e1d1e;
  line-height: 1.4;
  color: #0a0102;
}
.wishlistDeleteBtn {
  display: flex;
  flex-direction: row-reverse;
  padding: 0px 35px 24px 1px;
  transform: translateY(-67px);
}

.mainCart {
  max-width: 820px !important;
  /* margin-left: 204px; */
}
.myCart-container {
  border: 1px solid #80808073;
  border-radius: 3px;
}
.myCart {
  margin: 18px 35px 17px;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: bolder;
  color: #0a0102;
}
.bookimg img {
  width: 65px;
  height: 85px;
}

.bookshipping,
.bookimg {
  padding-top: 10px;
}

.book_cart_details {
  display: flex;
  margin: 23px 33px 23px;
}
.tags {
  padding-left: 36px;
  padding-top: 0px;
  line-height: 2;
}

.labell {
  font-size: 12px;
}
.myWishlist {
  margin: 0px 0px 0px;
  border: 1px solid #e4e4e4;
  background-color: #f5f5f5;
}
.border-container {
  border-bottom: 1px solid #e4e4e4;
}
.border-container:last-child {
  border-bottom: none;
}
.addToBagBtn {
  text-align: center;
  transform: translateY(-5px);
  cursor: pointer;
}
.btnWidth {
  transform: translateY(-5px);
}
.deleteTag {
  display: flex;
  padding-left: 3%;
  cursor: pointer;
}
@media only screen and (max-width: 992px) {
  .searchBarIcon {
    display: none;
  }
}
@media only screen and (min-width: 360px) and (max-width: 400px) {
  .wishlistDeleteBtn {
    display: flex;
    flex-direction: column;
    /* padding: 0px 35px 15px 0px; */
    transform: translateY(-67px);
    float: right;
    padding-right: 20px;
  }
  .btnWidth {
    transform: translateY(11px);
  }
}
@media only screen and (max-width: 576px) {
  
  .paddingLeft{
    padding-left: 44px;
  }
  }
